.catalog-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 85%;
}

.catalog-page>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}
.pending-hero {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    overflow: hidden;
    width: 90%;
    min-width: 400px;
    height: auto;
    min-height: 210px;
}


.pending-button {
    background-color: #2A265F;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: relative;
    bottom: 0px;
    right: 0px;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: 0px;
}