.comics-world {
    width: auto;
    padding-top: 1em;
    box-sizing: border-box;
    text-align: center;
}

.comics-world .comics-message {
    display: inline-block;
    margin: 10% auto;
    text-align: center;
    width: 37%;
}

.comics-world>img {
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
}

.comics-message h2 {
    color: #f5f5f5;
    font-size: 36px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "Agency FB";
}

.home-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
}

.home-page>h1 {
    color: rgba(255, 82, 82, 0.9);
    font-size: 50px;
    font-family: "Agency FB";
}

.top-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}