.catalog-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 85%;
}

.catalog-page>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}
.catalog-page h3 {
    color: #fff;
    font-family: "Agency FB";
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.catalog-page .catalog-pn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}
.catalog-fl .first-button,
.catalog-fl .last-button,
.catalog-pn .prev-button,
.catalog-pn .next-button {
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 0;
}
.catalog-page .catalog-fl {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    min-width: 300px;
    
}
.catalog-fl .first-button,
.catalog-fl .last-button {
    font-size: 18px;
}

.catalog-pn .prev-button,
.catalog-pn .next-button,
.catalog-pn i {
    font-size: 16px;
}

.catalog-pn .prev-button,
.catalog-pn .first-button {
    padding-right: 0;
    text-align: right;
}

.catalog-pn .next-button,
.catalog-pn .last-button {
    padding-left: 0;
    text-align: left;
}

.no-articles {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    font-family: "Agency FB";
}

.card-rows {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}