body {
    background-image: url('../images/bg-comics-2.jpg'), url('../images/bg-comics-3.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth {
    width: 100px;
    margin: 5em auto;
    display: flex;
}

header,
footer {
    background-color: none;
    width: 100%;
    overflow: hidden;
    color: black;
}

.cloud-link {
    background-image: url('../images/cloud.png');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75%;
    padding: 15%;
    text-align: center;
    font-size: 14px;
}



