
.hero-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    overflow: hidden;
    width: 45%;
    min-width: 400px;
    height: auto;
    min-height: 210px;
}

.hero-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.hero-info>img {
    border-radius: 20%;
    height: 140px;
    padding: 5px;
    width: 140px;
}

.hero-info>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.details-button {
    background-color: #2A265F;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}