.logo-container {
    height: 30%;
}

.logo {
    height: 200px;
}

.cloud-link {
    height: 50%;
}

.cloud-img {
    height: 90%;
}

@media screen and (max-width: 950px){    
    /* For tablets: */
    .logo {
        height: 150px;
        transition: 1s;
    }
    
}
@media screen and (min-width: 950px){    
    /* For tablets: */
    .logo {
        height: 200px;
        transition: 1s;
    }
    
}