.notification{
    text-align: 'center';
    border: '2px solid';
    position: absolute;
    top: 160px;
    right: 50px;
    padding: 30px;
    max-width: 30%;
    z-index: 10;
    text-align: center;
}
.danger{
    color: red;
    border: 2px solid red;
    background-color: lightpink;
}
.info{
    color: blue;
    border: 2px solid blue;
    background-color: lightblue;
}
.warning{
    color: darkorange;
    border: 2px solid darkorange;
    background-color: lightyellow;
}
.success{
    color: green;
    border: 2px solid green;
    background-color: lightgreen;
}