.pending-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 5px;
    overflow: hidden;
    width: 100%;
    min-width: 400px;
    height: auto;
    min-height: 210px;
}